/* ----- MARGIN ----- */
@for $i from 1 to 4 {
  /* margin x#{$i} */
  .m-all_#{$i} {
    margin: calc(var(--size) * #{$i});
  }
  .m-left_#{$i} {
    margin-left: calc(var(--size) * #{$i});
  }
  .m-right_#{$i} {
    margin-right: calc(var(--size) * #{$i});
  }
  .m-top_#{$i} {
    margin-top: calc(var(--size) * #{$i});
  }
  .m-bottom_#{$i} {
    margin-bottom: calc(var(--size) * #{$i});
  }
  .m-x_#{$i} {
    margin: 0 calc(var(--size) * #{$i});
  }
  .m-y_#{$i} {
    margin: calc(var(--size) * #{$i}) 0;
  }
}

.m-unset {
  margin: 0;
}

.m-auto {
  margin: auto;
}
