/* ----- PADDING ----- */
@for $i from 1 to 4 {
  /* Padding x#{$i} */
  .p-all_#{$i} {
    padding: calc(var(--size) * #{$i});
  }
  .p-left_#{$i} {
    padding-left: calc(var(--size) * #{$i});
  }
  .p-right_#{$i} {
    padding-right: calc(var(--size) * #{$i});
  }
  .p-top_#{$i} {
    padding-top: calc(var(--size) * #{$i});
  }
  .p-bottom_#{$i} {
    padding-bottom: calc(var(--size) * #{$i});
  }
  .p-x_#{$i} {
    padding-left: calc(var(--size) * #{$i});
    padding-right: calc(var(--size) * #{$i});
  }
  .p-y_#{$i} {
    padding-top: calc(var(--size) * #{$i});
    padding-bottom: calc(var(--size) * #{$i});
  }
}

.p-unset {
  padding: 0;
}
